<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776184762279-ddohtq5n5tl93894dvfnvu4763vdf3lh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776184762279-ddohtq5n5tl93894dvfnvu4763vdf3lh</string>
	<key>API_KEY</key>
	<string>AIzaSyAMvVxNHmU6Pfkz3btfj0ZUhQR1YuClCqY</string>
	<key>GCM_SENDER_ID</key>
	<string>776184762279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmm.metricsmeal.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bluecoin-9af7d</string>
	<key>STORAGE_BUCKET</key>
	<string>bluecoin-9af7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776184762279:ios:f2737e171a1c3f80397082</string>
</dict>
</plist>